/* Reset de estilos e estilos globais */
body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    text-align: center;
}

/* Estilo do menu fixo */
.menu-fixo {
    background-color: #FFC3EA;
    color: rgb(143, 64, 64);
    position: 10;
    top: 0;
    left: 0;
    width:100%;
}

.menu-fixo nav ul {
    list-style: none;
    padding: 1100;
}

.menu-fixo nav li {
    display: inline;
    margin-right: 60px;
}

.menu-fixo nav a {
    text-decoration: none;
    color: #392D16;
    font-weight: bold;
}

/* Estilo do conteúdo principal */
.conteudo {
    padding: 12px 0;
}

.conteudo h1 {
    font-size: 50px;
    color: #392D16;
}

.conteudo p {
    font-size: 18px;
    color: #392D16;
}

/* Estilo do rodapé */
.rodape {
    background-color: #FFC3EA;
    color: #392D16;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
}
nav ul li a:hover{
  color: #8A8697;
  text-decoration: underline;
}

.logo{
  width: 55px;
  height: 50px;
  margin-right: 900px;
  margin: 10px;
}
